<div class="container mt-3">
    <div class="row">
        
        <form [formGroup]="signupForm" (ngSubmit)="onsignupSubmit()">

            <label class="mr-2 ">username:</label>
            <input type="text" formControlName="userName" name="userName" class="w-100"> <br>
        
            <label class="mr-2">password:</label>
            <input type="password" formControlName="password" name="password"  class="w-100"><br>
        
            <input type="submit" value="submit" name="submit"  class="w-100 mt-3">
        </form>
  
        </div>

        <!-- <form [formGroup]="form">
            <formly-form [model]="model" [fields]="fields" [options]="options" [form]=" form"  ></formly-form>
    
        </form> -->
</div>


